In [7]:
import pandas as pd
import numpy as nm

In [8]:
path='data sets/price_data.csv'

In [24]:
price=pd.read_csv(path)

In [25]:
price

   cost
0   110
1   105
2   115
3   120
4   110
5   130
6   150
7   100
8   105

In [26]:
x=price[['cost']]

In [27]:
from sklearn.preprocessing import MinMaxScaler,StandardScaler,RobustScaler,MaxAbsScaler,FunctionTransformer

In [28]:
Normalization = MinMaxScaler()
StandardScaler = StandardScaler()
RobustScaler = RobustScaler()
MaxAbsScaler = MaxAbsScaler()
FunctionTransformer = FunctionTransformer(nm.log1p)

In [30]:
price['Normalization'] = Normalization.fit_transform(x)
price['StandardScaler'] = StandardScaler.fit_transform(x)
price['RobustScaler'] = RobustScaler.fit_transform(x)
price['MaxAbsScaler'] = MaxAbsScaler.fit_transform(x)
price['FunctionTransformer'] = FunctionTransformer.fit_transform(x)

In [31]:
price

,cost,Normalization,StandardScaler,RobustScaler,MaxAbsScaler,FunctionTransformer
0,110,0.2,-0.416356,0.000000,0.733333,4.709530
1,105,0.1,-0.757011,-0.333333,0.700000,4.663439
2,115,0.3,-0.075701,0.333333,0.766667,4.753590
3,120,0.4,0.264954,0.666667,0.800000,4.795791
4,110,0.2,-0.416356,0.000000,0.733333,4.709530
5,130,0.6,0.946264,1.333333,0.866667,4.875197
6,150,1.0,2.308884,2.666667,1.000000,5.017280
7,100,0.0,-1.097666,-0.666667,0.666667,4.615121
8,105,0.1,-0.757011,-0.333333,0.700000,4.663439